name: Pipeline de CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Baixar artefato do CI
        uses: actions/download-artifact@v4
        with:
          name: site-build
          path: build
          repository: wellnovaes17-crypto/Atividade-pipeline

      - name: Publicar no GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build

